a,
button,
input,
textarea {
  @include animated();
}

.container {
  box-sizing: border-box;
  max-width: $container;
  margin: 0 auto;
  padding: 0 8px;
  @media (max-width: $phone-max) {
    padding: 0 15px;
  }

  &::after {
    content: "";
    clear: both;
    display: table;
  }
  @media(max-width: $laptop-max) {
    max-width: $container-laptop;
  }
  @media(max-width: $tablet-max) {
    max-width: $container-tablet;
  }
  @media(max-width: $phone-max) {
    max-width: 100%;
  }
}

.mb {
  margin-bottom: 50px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pr-25 {
  padding-right: 25px;
}

.pl-25 {
  padding-left: 25px;
}

.btn {
  padding: 7px 25px;
  background-color: $primary-color;
  color: $secondary-text-color;
  font-size: 18px;
  line-height: 25px;
  border: none;

  &:active,
  &:focus,
  &:hover {
    color: $secondary-text-color;
    background-color: $blood-red;
  }
}

.card {
  width: 100%;
  height: 100%;
  border: none;
}

button {
  outline: none!important;
}

.modal {
  .modal-dialog {
    .modal-content {
      .modal-header {
        border: none;
        padding: 10px 10px 0 0;

        button {
          color: #C0392B;
        }
      }

      .modal-body {
        padding: 10px 30px 30px 30px;
      }
    }
  }
}
