// colors
$JustBlack: #000;
$JustWhite: #fff;
$ocean-blue: #1ABC9C;
$sunny-yellow: #fff917;
$blood-red: #980002;
$orange: #D35400;
$JustGreen: #27AE60;
$cement: #ECF0F1;
$sky: #D2EDFF;
$pencil-blue: #2980B9;
$dark-blue: #2C3E50;
$primary-color: $ocean-blue;
$secondary-color: $sunny-yellow;
$primary-text-color: $JustBlack;
$secondary-text-color: $JustWhite; // fonts
$primary-font: "Open Sans", sans-serif;
$secondary-font: "MyWebFont", sans-serif; // sizes
$container: 1200px;
$container-laptop: 1000px;
$container-tablet: 750px;
$laptop-max: 1367px;
$tablet-max: 1024px;
$phone-max: 768px;
$phone-small-max: 400px;
