#website-footer {
  background-color: $dark-blue;

  .col {
    display: flex;
    justify-content: flex-end;
    padding: 0;

    p {
      margin-bottom: 0;
    }
  }
}
@media (max-width: $tablet-max) {
  .col {
    justify-content: center !important;
  }
}
