#website-header {
  background: url("/assets/img/bg-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 850px;
  margin-top: 82px;
  color: $secondary-text-color;

  .dark-overlay {
    position: absolute;
    width: 100%;
    min-height: 850px;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
  }
}
@media (max-width: $phone-max) {
  #website-header {
    min-height: 340px;
    margin-bottom: 30px;

    .dark-overlay {
      min-height: 340px;
    }
  }
}
@media (max-width: $phone-small-max) {
  #website-header {
    margin-bottom: 10px;
    min-height: 174px;

    .dark-overlay {
      min-height: 174px;
    }
  }
}
